<style type="text/css">

	.Medalha  {border-collapse:collapse;border-spacing:0;}
	.Medalha td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
	.Medalha th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
	.Medalha .Br{background-color:#986536;border-color:inherit;text-align:left;vertical-align:top}
	.Medalha .P{background-color:silver;border-color:inherit;text-align:left;vertical-align:top}
	.Medalha .T{background-color:#34cdf9;border-color:inherit;text-align:left;vertical-align:top}
	.Medalha .B{border-color:inherit;text-align:left;vertical-align:top}
	.Medalha .O{background-color:#ffcb2f;border-color:inherit;text-align:left;vertical-align:top}
	
	body {width:1250px; margin-left: 15%; margin-right: 15%; margin-top: 5%; margin-bottom: 5%;font-family: Arial, Verdana, sans-serif;font-size: 20px;text-align:justify;color: #ffffff;background-color: orange}
  h1 { font-size: 60px; font-weight: bold; text-align:center;}
	figure {text-align: center;}



</style>
